[submodule "home/posh-git"]
	path = home/posh-git
	url = git@github.com:dahlbyk/posh-git.git
[submodule "home/jump-location"]
	path = home/jump-location
	url = git@github.com:tkellogg/Jump-Location.git
[submodule "oh-my-posh"]
	path = oh-my-posh
	url = https://github.com/JanJoris/oh-my-posh.git
